In this quick project we are performing an insight analysis on the Weather data, by answering the 10 questions

In [1]:
import pandas as pd

w_data = pd.read_csv("/work/cleaned_weather.csv")

w_data.head(2)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True

In [2]:
w_data.rename(columns = {'DATE':'n_date','PRCP':'inches_rain','TMAX':'temp_max','TMIN':'temp_min'}, inplace = True)
w_data['n_date']= pd.to_datetime(w_data['n_date'])
w_data.head(2)

      n_date  inches_rain  temp_max  temp_min  RAIN
0 1948-01-01         0.47        51        42  True
1 1948-01-02         0.59        45        36  True

1. Select all rows from December 1st, 2000 to December 15th, 2000

In [3]:


df_1 = _deepnote_execute_sql("""select *
from w_data
where n_date between '2000-12-01' and '2000-12-15'
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_1

       n_date  inches_rain  temp_max  temp_min   RAIN
0  2000-12-01         0.04        55        39   True
1  2000-12-02         0.18        51        37   True
2  2000-12-03         0.00        44        34  False
3  2000-12-04         0.00        51        37  False
4  2000-12-05         0.00        50        36  False
5  2000-12-06         0.00        50        35  False
6  2000-12-07         0.00        40        34  False
7  2000-12-08         0.02        45        30   True
8  2000-12-09         0.06        43        36   True
9  2000-12-10         0.00        40        30  False
10 2000-12-11         0.00        37        28  False
11 2000-12-12         0.00        37        28  False
12 2000-12-13         0.00        37        30  False
13 2000-12-14         0.26        46        28   True
14 2000-12-15         0.00        42        35  False

2. Get the average maximum temperature for every year from the year 2000 onward. Order the results by year

In [4]:


df_2 = _deepnote_execute_sql("""with tt as (select year(n_date) as year,
round(avg(temp_max),2) as avg_max_temp
from w_data
group by 1)

select year,
avg_max_temp
from tt
where year > 2000
order by 1
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_2

    year  avg_max_temp
0   2001         58.47
1   2002         58.89
2   2003         60.44
3   2004         60.62
4   2005         60.15
5   2006         61.04
6   2007         59.20
7   2008         58.49
8   2009         59.91
9   2010         59.66
10  2011         58.14
11  2012         59.50
12  2013         60.90
13  2014         62.59
14  2015         63.37
15  2016         62.55
16  2017         61.73

3. Get the standard deviation of the maximum temperature per year, from 2000 onward. Order by year

In [5]:


df_3 = _deepnote_execute_sql("""with tt as (select year(n_date) as year,
round(stddev(temp_max),2) as sd_max_temp
from w_data
group by 1)

select year,
sd_max_temp
from tt
where year > 2000
order by 1
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_3

    year  sd_max_temp
0   2001        11.18
1   2002        12.31
2   2003        12.87
3   2004        12.61
4   2005        11.89
5   2006        13.05
6   2007        12.92
7   2008        13.00
8   2009        14.23
9   2010        11.16
10  2011        12.45
11  2012        12.74
12  2013        13.60
13  2014        13.08
14  2015        13.18
15  2016        12.65
16  2017        14.20

4. What are the 10 hottest days on record? Take hottest to mean 'highest maximum temperature

In [6]:


df_4 = _deepnote_execute_sql("""select n_date,
avg(temp_max)
from w_data
group by 1
order by 2 desc
limit 10
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_4

      n_date  avg(temp_max)
0 2009-07-29          103.0
1 1994-07-20          100.0
2 1960-08-09           99.0
3 1991-07-23           99.0
4 1981-08-09           99.0
5 2007-07-11           98.0
6 1960-08-08           98.0
7 1988-09-02           98.0
8 1967-08-16           98.0
9 1979-07-16           98.0

5. In 2016, what fraction of days did it rain?

In [7]:


df_5 = _deepnote_execute_sql("""with tt as (select year(n_date) as year,
rain
from w_data
where year = 2016)

select
100*count(*)/(select count(*) from tt) as Rain_prcnt
from tt
where year = 2016 and rain = 'True'
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_5

   Rain_prcnt
0          46

6. Get the 10 years with the hottest average maximum temperature in July. Order from hottest to 
coolest

In [8]:


df_6 = _deepnote_execute_sql("""select year, avg(temp_max)
from (select year(n_date) as year, month(n_date) as month, temp_max
from w_data) as sbq
where month = 7
group by 1
order by 2 desc
limit 10
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_6

   year  avg(temp_max)
0  2015      82.580645
1  1958      81.419355
2  2009      80.967742
3  1985      80.935484
4  2014      80.419355
5  1960      79.645161
6  1965      79.451613
7  1990      79.193548
8  1994      78.967742
9  2003      78.967742

7. Get the 10 years with the coldest average minimum temperature in December. Order from 
coolest to hottest

In [9]:


df_7 = _deepnote_execute_sql("""select year, avg(temp_min)
from (select year(n_date) as year, month(n_date) as month, temp_min
from w_data) as sbq
where month = 12
group by 1
order by 2 asc
limit 10
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_7

   year  avg(temp_min)
0  1990      30.387097
1  1948      30.806452
2  1985      30.935484
3  1951      31.225806
4  1964      31.483871
5  1983      31.516129
6  1968      32.032258
7  1984      32.096774
8  2009      32.096774
9  1978      32.161290

 8. Repeat the last question, but round the temperatures to 3 decimal places

In [10]:


df_8 = _deepnote_execute_sql("""select year, round(avg(temp_min),3)
from (select year(n_date) as year, month(n_date) as month, temp_min
from w_data) as sbq
where month = 12
group by 1
order by 2 asc
limit 10
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_8

   year  round(avg(temp_min), 3)
0  1990                   30.387
1  1948                   30.806
2  1985                   30.935
3  1951                   31.226
4  1964                   31.484
5  1983                   31.516
6  1968                   32.032
7  1984                   32.097
8  2009                   32.097
9  1978                   32.161

9. Given the results of the previous queries, would it be fair to use this data to claim that 2015 had 
the "hottest July on record"? Why or why not?

Yes, with results of 7th query, where July 2015 has the highest 'maximum temperature average', we can claim 2015 had the "hottest July on record".

10. Give the average inches of rain that fell per day for each month, where the average is taken over 
2000 - 2010 (inclusive)

In [14]:


df_9 = _deepnote_execute_sql("""select year,month, rain_avg
from (select year(n_date) as year,month(n_date) as month, round(avg(inches_rain),3) as rain_avg
from w_data
where rain='True'
group by 1,2) as sbq
where year>=2000 and year<=2010
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_9

     year  month  rain_avg
0    2000      1     0.180
1    2000      2     0.350
2    2000      3     0.166
3    2000      4     0.135
4    2000      5     0.204
..    ...    ...       ...
127  2010     10     0.403
128  2010     11     0.240
129  2010     12     0.395
130  2006      1     0.416
131  2006     12     0.456

[132 rows x 3 columns]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=6bb52045-5114-4fea-b056-511e77021009' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>